<div id="<%= dom_id cargo %>">
  <p>
    <strong>Nomecargo:</strong>
    <%= cargo.nomecargo %>
  </p>

  <p>
    <strong>Descricao:</strong>
    <%= cargo.descricao %>
  </p>

  <p>
    <strong>Departamento:</strong>
    <%= cargo.departamento %>
  </p>

  <p>
    <strong>Nivelcargo:</strong>
    <%= cargo.nivelcargo %>
  </p>

  <p>
    <strong>Salbase:</strong>
    <%= cargo.salbase %>
  </p>

  <p>
    <strong>Requisitos:</strong>
    <%= cargo.requisitos %>
  </p>

  <p>
    <strong>Beneficios:</strong>
    <%= cargo.beneficios %>
  </p>

  <p>
    <strong>Statuscargo:</strong>
    <%= cargo.statuscargo %>
  </p>

</div>
