<div id="<%= dom_id departamento %>">
  <p>
    <strong>Nomedepartamento:</strong>
    <%= departamento.nomedepartamento %>
  </p>

  <p>
    <strong>Descricao:</strong>
    <%= departamento.descricao %>
  </p>

  <p>
    <strong>Codigodep:</strong>
    <%= departamento.codigodep %>
  </p>

  <p>
    <strong>Localizacao:</strong>
    <%= departamento.localizacao %>
  </p>

  <p>
    <strong>String:</strong>
    <%= departamento.string %>
  </p>

  <p>
    <strong>Statusdep:</strong>
    <%= departamento.statusdep %>
  </p>

</div>
