<div id="<%= dom_id abafuncionario %>">
  <p>
    <strong>Nomecompleto:</strong>
    <%= abafuncionario.nomecompleto %>
  </p>

  <p>
    <strong>Datanasc:</strong>
    <%= abafuncionario.datanasc %>
  </p>

  <p>
    <strong>Genero:</strong>
    <%= abafuncionario.genero %>
  </p>

  <p>
    <strong>Cpf:</strong>
    <%= abafuncionario.cpf %>
  </p>

  <p>
    <strong>Rg:</strong>
    <%= abafuncionario.rg %>
  </p>

  <p>
    <strong>Rua:</strong>
    <%= abafuncionario.rua %>
  </p>

  <p>
    <strong>Numero:</strong>
    <%= abafuncionario.numero %>
  </p>

  <p>
    <strong>Complemento:</strong>
    <%= abafuncionario.complemento %>
  </p>

  <p>
    <strong>Bairro:</strong>
    <%= abafuncionario.bairro %>
  </p>

  <p>
    <strong>Cidade:</strong>
    <%= abafuncionario.cidade %>
  </p>

  <p>
    <strong>Estado:</strong>
    <%= abafuncionario.estado %>
  </p>

  <p>
    <strong>Cep:</strong>
    <%= abafuncionario.cep %>
  </p>

  <p>
    <strong>Telefone:</strong>
    <%= abafuncionario.telefone %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= abafuncionario.email %>
  </p>

  <p>
    <strong>Cargo:</strong>
    <%= abafuncionario.cargo %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= abafuncionario.status %>
  </p>

  <p>
    <strong>Departamento:</strong>
    <%= abafuncionario.departamento %>
  </p>

</div>
